html {
	min-width:1920px;
	min-height:1080px;
	font-family: 'Raleway', sans-serif;
}

body {
	padding:0px;
	margin:0px;
	position:absolute;
	top:0px;
	width:1920px;
	height:1080px;
}

.hide {
	display:none;
}

#message-text-holder {
	text-align:center;
}

#status-message-box {
	font-size:45px;
	margin-bottom:0px;
}

#message-box {
	font-size:35px;
}

#players-bench {
	height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}

.player-score {
	position:absolute;
	left:80px;
	bottom:175px;
	z-index:2000;
	font-size:50px;
    width: 300px;
    text-align: center;
}

.player-name {
	position:absolute;
	left:60px;
	bottom:20px;
	z-index:2000;
	font-size:40px;
    width: 330px;
    text-align: center;
    background-color:#FFF;
    border-radius:25px;
    padding-top:30px;
    padding-bottom:30px;
}

.player {
	position:relative;
	height:100%;
	display:inline-block;
	width:23%;
	padding-right:1%;
}

.player-avatar {
	position:absolute;
	bottom:100px;
}

.player-box {
	position:absolute;
	bottom:0px;
	z-index:1000;
	width:100%;
}