html {
	min-width:500px;
	min-height:700px;
	font-family: 'Raleway', sans-serif;
}

body {
	padding:0px;
	margin:0px;
	position:absolute;
	top:0px;
	width:500px;
	height:700px;
}

.hide {
	display:none;
}

#response-buttons {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	width:500px;
	height:70%;
	margin:0px;
	padding:0px;
}

.button {
	position:relative;
	width:49%;
	height:33%;
	display:inline;
}

#response-buttons-titles {
	width:100%;
	height:33%;
	display:inline-block;
	margin:0px;
	padding:0px;
}